body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    background-color: rgb(171, 202, 218)
    
}

.table-hover tbody tr:hover td {
    background: default;
}

#title {
    text-align: center;
}


[name=price]::-webkit-inner-spin-button,
[name=price]::-webkit-outer-spin-button  {
    -webkit-appearance: none; 
    margin: 0
}

.btn-danger {
    background-color: rgb(221, 189, 192) !important;
    border-color:white !important;
    height: 25px;
    width: 25px;
    padding: 0px;
    margin-bottom: 0.2rem;
}

.btn-sm {
    background-color: rgb(184, 216, 188);
    border-color: white;
    color: white;
    font-weight: bold;
}

@media (max-width: 767px) {
    .quantity input {
        width: 35px;
    }
}

@media (max-width: 510px) {
    #addGrocery input {
        width: 143px;
    }
}