body {
    font-weight: 400;
    font-size: 18px;
    background-color: rgb(171, 202, 218)
}

.table-hover tbody tr:hover td {
    background: rgb(184, 216, 188);
}

#title {
    text-align: center;
}

.quantity {
    font-weight: 600;
}

[name=price]::-webkit-inner-spin-button,
[name=price]::-webkit-outer-spin-button  {
    -webkit-appearance: none; 
    margin: 0
}

.btn-danger {
    height: 25px;
    width: 25px;
    padding: 0px;
    margin-bottom: 0.2rem;
}

.btn-sm {
    background-color: green;
    color: white;
}

@media (max-width: 767px) {
    .quantity input {
        width: 100px;
    }
}

@media (max-width: 510px) {
    #addGrocery input {
        width: 143px;
    }
}