body {
    font-weight: 500;
    font-size: 18px;
}

#title {
    text-align: center;
}

.quantity {
    font-weight: bold;
}

[name=price]::-webkit-inner-spin-button,
[name=price]::-webkit-outer-spin-button  {
    -webkit-appearance: none; 
    margin: 0
}

.btn-danger {
    height: 25px;
    width: 25px;
    padding: 0px;
    margin-bottom: 0.2rem;
}

.btn-sm {
    background-color: green;
    color: white;
}

@media (max-width: 767px) {
    .quantity input {
        width: 100px;
    }
}

@media (max-width: 510px) {
    #addGrocery input {
        width: 143px;
    }
}

#yellowSquare {
    height: 300px;
    width: 300px;
    background-color: rgb(248, 235, 51);
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    transform: rotate(45deg);
}